.banner {
    height: 700px;
    position: relative;
    background-image: url("./images/bg_2.jpg");
    background-position: 50% 50%;
    overflow: hidden;
}

.banner_text {
    position: absolute;
    width: 100%;
    font-size: 5rem;
    padding: 350px 0px;
    text-align: center;
}

.banner_word {
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

.banner_word:hover {
    color: transparent;
    -webkit-text-fill-color: transparent;
}