#contact {
    margin: 100px auto;
}

.contact_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contact_tile {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.contact_icon {
    display: flex;
    height: 100px;
    width: 100px;
    font-size: 30px;
    border-radius: 50%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    background-color: #b7472a;
    color: white;
}

.contact_text {
    padding: 0px 15px;
    text-align: center;
}

.contact_bold {
    font-weight: bold;
}

.contact_normal {
    color: #b7472a;
}

.contact_card {
    display: flex;
    width: auto;
    height: 550px;
    margin: 50px 0px;
    background-color: #f5f4f0;
}

.contact_image {
    height: 550px;
    width: 440px;
    object-fit: cover;
}

.contact_form {
    padding: 50px;
    width: 100%;
}

.name_email {
    display: flex
}

.contact_detail {
    flex-grow: 1;
    padding-right: 50px;
    margin-bottom: 30px;
}

.contact_title {
    font-size: 0.8rem;
    font-weight: bold;
    color: #b7472a;
}

.no_outline {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: solid 1px black;
    width: 100%;
    height: 50px;
    background-color: transparent;
}

.no_outline:focus {
    outline: none;
    border-bottom: solid 1px #b7472a;
}

.contact_message {
    flex-grow: 1;
    padding-right: 50px;
}

.contact_textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0px;
}

.contact_button {
    background-color: #b7472a;
    border-radius: 5%;
    padding: 10px;
    color: white
}