#cart {
    margin: 100px 0px;
}

.empty {
    margin: 50px 0px;
    text-align: center;
    font-size: 2.5rem
}

.cart_grid {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 2fr 2fr 1fr;
    text-align: center;
}

.cart_header {
    height: 90px;
    line-height: 90px;
    box-sizing: border-box;
    background-color: #b7472a;
    color: white;
    font-size: 1.3rem
}

.cart_titleProduct {
    text-align: left;
    padding-left: 30px
}

.cart_final {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 450px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
    border: solid 1px black;
}

.final_title {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.final_subText {
    display: flex;
}

.final_subText > div {
    width: 204px;
    margin-bottom: 25px;
    color: gray;
}

.final_total {
    font-size: 1.2rem;
    color: black !important;
    padding-top: 25px;
    border-top: solid 1px gray
}

.cart_checkout {
    float: right;
}

.checkout_button {
    width: 100%;
    height: 50px;
    background-color: #b7472a;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.checkout_button:focus {
    border: none;
}
