#footer {
    height: 400px;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: white;
}

.footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_liquor, .footer_about, .footer_information, .footer_quick, .footer_question {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
}

.footer_header {
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.footer_paragraph {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 15px;
}

.footer_social {
    display: flex;
    flex-direction: row;
}

.icon_social {
    height: 50px;
    width: 50px;
    background-color: #b64629;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}

.fa-chevron-right {
    margin-right: 10px;
}

.footer_itemlist {
    margin-bottom: 15px;
}

.footer_address {
    display: flex;
}

.footer_address, .footer_cellphone, .footer_email {
    margin-bottom: 20px;
}

.qicon {
    margin-right: 20px;
}