#info_bar {
    background-color: #b64629;
    height: 200px;
}

.info_card {
    display: flex;
    align-items: center;
    flex-grow: 1;
    box-sizing: border-box;
    height: 200px;
    padding: 30px;
}

.info_card:hover {
    background-color: #a23f25;
}

.info_image {
    width: 20%;
    padding-right: 25px;
    filter: white;
    -webkit-filter: white;
}

.info_text {
    width: auto
}

.info_title {
    color:white;
    font-weight: normal
}

.info_description {
    color: white;
    opacity: 0.6;
    line-height: 1.5rem;
}